[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
twython = "*"
opencv-python = "*"
numpy = "*"
requests = "*"
progressbar = "*"
tensorflow = "*"
Pillow = "*"
Keras = "*"
cvlib = "*"
pyramid = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
